.shadow-effect{
  border: none;
  box-shadow: 0px 0px 33px -10px rgba(71, 114, 254, 0.3);
}
.img-preview{

  height: 250px;
}

input.ng-touched.ng-invalid {
  border-color: red
}
select.ng-touched.ng-invalid {
  border-color: red
}
textarea.ng-touched.ng-invalid {
  border-color: red
}
.btn-sub{
  height: 58px;
  border: none;
  font-variant: 13px;
  color: white;
  background-color: var(--primary-color);
}
.bg-theme{
  background-color: var(--primary-color);
}
