<div class="container">
  <div class="row">
    <div class="col-md-12 bg-secondary-theme p-5 shadow-effect">
      <h3 class="text-center text-theme-primary">New Categories</h3>
      <p class="text-center mb-5">You can Add new categories from here </p>
      <form class="form-inline " #categoryForm="ngForm" (ngSubmit)="onSubmit(categoryForm)">
        <div class="col-md-10">
          <input type="text" class="form-control shadow-effect" placeholder="Add New Categories" name="category"
          #newCategory='ngModel'
          ngModel
          required
          [ngClass]="{'is-invalid':newCategory.touched && newCategory.invalid}"
          >
          <div class="alert alert-danger" *ngIf="newCategory.touched && newCategory.invalid">
            Category fiel is required !!
          </div>
        </div>
        <div class="col-md-2">
          <button class="btn btn-block btn-info mb-2 btn-sub" [disabled]="categoryForm.invalid">Add Category</button>
        </div>
      </form>
    </div>
  </div>
</div>
